<!DOCTYPE html>
<html>
	<head>
		<title> My First Express App</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	</head>
	<body>
		<nav>
			<a href="/admin_home" class="active">Home</a>
			<a href="/admin_change_details">Manage</a>
			<a href="/admin_profile">Profile</a>
		</nav>
		<h1> Hello <%=user%></h1>
		<%var name = ''%>
		<%var rno = 0%>
		<%var hname = ''%>
		<%var bname = ''%>
		<%var roomno = ''%>
		<%var email = ''%>
		<%var pno = 0%>

		<% var keys = Object.keys(students)%>
			<% keys.forEach(function(key){ %>
			<% if((key)==id){%>
			<p>Name: <%= students[key].Name%></p>
			<p>Roll No: <%= key%></p>
			<p>Hostel Name: <%= students[key].HostelName%>
			<p>Room No: <%= students[key].RoomNo%>
			<p>Branch Name: <%= students[key].BranchName%>
			<p>Email ID: <%= students[key].EmailID%>
			<p>Phone No: <%= students[key].PhoneNo%>
			<p>Year of admission: <%=year%></p>
			<%name = students[key].Name%>
			<%rno = Number(key)%>
			<%hname = students[key].HostelName%>
			<%bname = students[key].BranchName%>
			<%roomno = students[key].RoomNo%>
			<%email = students[key].EmailID%>
			<%pno = Number(students[key].PhoneNo)%>
			
			<% }});%>

		<form method="post">
			<p>Name: <input type="text" name="name" required="true" value=<%=name%>></p>
			<p>Roll no: <input type="number" name="rno" required="true" value=<%=rno%>></p>
			<p>Hostel Name: <input type="text" name="hostelname" required="true" value=<%=hname%>></p>
			<p>Room No: <input type="text" name="roomno" required="true" value=<%=roomno%>></p>
			<p>Branch Name: <input type="text" name="branchname" required="true" value=<%=bname%>></p>
			<p>Email ID: <input type="text" name="emailid" required="true" value=<%=email%>></p>
			<p>Phone No: <input type="number" name="phoneno" required="true" value=<%=pno%>></p>
			<button type="submit">Update</button>
		</form>
	</body>
</html>
