<!DOCTYPE html>
<html>

<head>
	<title> Add Student</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/admin_change_details.css" type="text/css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" async=""
		src="http://www.googletagmanager.com/gtag/js?id=G-SD5ZLVWXK3&amp;l=dataLayer&amp;cx=c"></script>
	<script src="https://www.googletagmanager.com/gtag/js?l=dataLayer" async=""></script>

</head>

<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Hello, <%=user%></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item ">
					<a class="nav-link" href="/admin_home">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/admin_change_details">Manage</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin_change_password">Change Password</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="logout">Sign Out</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- <h1> Hello <%=user%></h1> -->
	<div class="container-fluid text-center mt-4">
		<% var keys = Object.keys(students)%>
		<% keys.forEach(function(key){ %>
		<% if((key)==id){%>
		<!-- <p>Name: <%= students[key].Name%></p>
		<p>Roll No: <%= key%></p>
		<p>Hostel Name: <%= students[key].HostelName%>
		<p>Room No: <%= students[key].RoomNo%>
		<p>Branch Name: <%= students[key].BranchName%>
		<p>Email ID: <%= students[key].EmailID%>
		<p>Phone No: <%= students[key].PhoneNo%>
		<p>Year of admission: <%= year%></p> -->

		
		
		<table class="table table-dark" style="width:700px; margin:auto">
			<thead>
				<tr>
				<th scope="col">Key</th>
				<th scope="col">Value</th>
			</tr>
		</thead>
			<tbody>
				<tr>
				<td>Name</td>
				<td> <%= students[key].Name%></td>
			  </tr>
			  <tr>
				<td>Roll No</td>
				<td> <%= key%></td>
			  </tr>
			  <tr>
				<td>Hostel Name</td>
				<td> <%= students[key].HostelName%></td>
			</tr>
			<tr>
				<td>Room No</td>
				<td><%= students[key].RoomNo%></td>
			</tr>
			  <tr>
				  <td>Branch Name</td>
				<td><%= students[key].BranchName%></td>
			</tr>
			<tr>
				<td>Email ID</td>
				<td><%= students[key].EmailID%></td>
			</tr>
			<tr>
				<td>Phone No</td>
				<td><%= students[key].PhoneNo%></td>
			</tr>
			<tr>
				<td>Year of admissiono</td>
				<td><%= year%></td>
			</tr>
		</tbody>
	</table>
	<hr>
	<% }});%>
	<% var link = '/remove/?id='+id+'&year='+year%>
		<a href="<%=link%>"><button type="button" class="btn btn-info">Remove This Student</button></a><br />
	</div>
</body>

</html>
