<!DOCTYPE html>
<html>
	<head>
		<title> My First Express App</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  		<script type="text/javascript">
  			// function select_all(){
  			// 	if(document.getElementById('remove_all').checked==true){
  			// 		console.log(document.getElementById('remove_all').checked);
  			// 		for(var i=0;i<Number(document.getElementById('count').innerHTML);i++){
  			// 		document.getElementsByClassName('checkbox1')[i].setAttribute('checked',"true");}
  			// 	}else{
  			// 		console.log(document.getElementById('remove_all').checked);
  			// 		for(var i=0;i<Number(document.getElementById('count').innerHTML);i++){
  			// 		document.getElementsByClassName('checkbox1')[i].setAttribute('checked',"false");}  				
  			// 	}
  			// }
  		</script>
	</head>
	<body>
		<nav>
			<a href="/admin_home" class="active">Home</a>
			<a href="/admin_change_details">Manage</a>
			<a href="/admin_profile">Profile</a>
		</nav>
		<h1>Hello <%=user%></h1>
		<form method="post">
			<p>Year of admission: <input type="number" name="year" required="true" /></p>
			<p><input type="submit" name="submit" value="submit"></p>
		</form>
		<% if(typeof students!='undefined'){%>
			<table>
				<tr>
					<!-- <th><form method="post"><p><input type="checkbox" name="a" id="remove_all" style="opacity: 1; pointer-events: visible;" onclick='select_all()'></p></form></th> -->
					<th>Name</th><th>Roll No</th><th>Hostel Name</th><th>Room No</th><th>Branch Name</th><th>Email ID</th><th>Phone No</th><th>Total Attendance</th><th>Update details</th><th>Remove Student</th></tr>
				<% var keys = Object.keys(students)%>
				<% var count = 0;%>
				<% keys.forEach(function(key){ %>
				<tr>
					<!-- <td><form method="post"><p><input type="checkbox" style="opacity: 1; pointer-events: visible;" class="checkbox1" checked="false"></p></form></td> -->
					<%count = count+1;%>
					<td><%=(students[key].Name)%></td>
					<td><%=(students[key].Rno)%></td>
					<td><%=(students[key].HostelName)%></td>
					<td><%=(students[key].RoomNo)%></td>
					<td><%=(students[key].BranchName)%></td>
					<td><%=(students[key].EmailID)%></td>
					<td><%=(students[key].PhoneNo)%></td>
					<td><%=(students[key].TotalAttendance)+'/'+total_days%></td>
					<% var link1 = '/admin_change/?id='+key+'&year='+year%>
					<td><a href=<%=link1%>><button>Update</button></a></td>
					<% var link = '/admin_remove/?id='+key+'&year='+year%>
					<td><a href=<%=link%>><button>Remove</button></a></td>
				</tr>
					<%});%>
			</table><br/>
			<p id="count" style="display: none;"><%=count%></p>
		
		<%}%>
		<%if(typeof error!='undefined'){%>
			<p><%=error%></p>
		<%}%>
		<a href="/admin_add_choice"><button>Add Students</button></a>
		<!-- <a href="/admin_add"><button>Remove Selected</button></a> -->
	</body>
</html>
