<!DOCTYPE html>
<html>
	<head>
		<title>Home page</title>

		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&amp;display=swap" rel="stylesheet">

  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link href="../css/admin_change_details.css" rel="stylesheet">   -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
		  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		  <link rel="stylesheet" href="css/admin_change_details.css" type="text/css">
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" async="" src="http://www.googletagmanager.com/gtag/js?id=G-SD5ZLVWXK3&amp;l=dataLayer&amp;cx=c"></script><script src="https://www.googletagmanager.com/gtag/js?l=dataLayer" async=""></script><script type="text/javascript">
  			function select_all(){
  				if(document.getElementById('remove_all').checked==true){
  					console.log(document.getElementById('remove_all').checked);
  					for(var i=0;i<Number(document.getElementById('count').innerHTML);i++){
  						console.log(i)
  					document.getElementsByClassName('checkbox1')[i].checked=true;}
  				}else{
  					console.log(document.getElementById('remove_all').checked);
  					for(var i=0;i<Number(document.getElementById('count').innerHTML);i++){
  						console.log(i);
  					document.getElementsByClassName('checkbox1')[i].checked=false;}  				
  				}
  				add_data();
  			}
  			function check_checkbox(){
  				var c=1;
  				for(var i=0;i<Number(document.getElementById('count').innerHTML);i++){
  					if(document.getElementsByClassName('checkbox1')[i].checked==false){
  						document.getElementById('remove_all').checked=false;
  						c=0;
  						break;
  					}
  				}
  				if(c==1){
  					document.getElementById('remove_all').checked=true;
  				}
  				add_data();
  			}
  			function add_data(){
  				var data = '';
  				document.getElementById('link12').style.display='none';
  				for(var i=0;i<Number(document.getElementById('count').innerHTML);i++){
  					if(document.getElementsByClassName('checkbox1')[i].checked==true){
  						document.getElementById('link12').removeAttribute('style');
  						data+=document.getElementsByClassName('checkbox1')[i].name+',';
  					}
  				}
  				var year = document.getElementById('year').innerHTML;
				data = data.slice(0,data.length-1);
				data = data.split(',');
				var link = "/admin_remove_selected/?";
				for (i=0;i<data.length;i++){
					link+='data[]='+data[i]+'&';
				}
				link+="year="+year;
  				document.getElementById('link12').href=link;
  			}
			function searchName(){
				var mess = document.getElementById('search').value;
				if(mess!=''){
					var i=0;
					while(document.getElementsByClassName('studentName')[i]){
						if(document.getElementsByClassName('studentName')[i].innerHTML.indexOf(mess)!=-1 || String(document.getElementsByClassName('studentRno')[i].innerHTML).indexOf(mess)!=-1){
							document.getElementsByClassName('student_details')[i].style.display = '';
							// document.getElementsByClassName('student_details')[i].removeAttribute('style');
						}
						else{
							document.getElementsByClassName('student_details')[i].style.display = 'none';
						}
						i=i+1;
					}
				}
				else{
					var i=0;
					while(document.getElementsByClassName('studentName')[i]){
						document.getElementsByClassName('student_details')[i].style.display = '';
						// document.getElementsByClassName('student_details')[i].removeAttribute('style');
						i=i+1;
					}
				}
			}
  		</script>
	</head>
	<body>
		<!-- <nav>
			<a href="/admin_home" class="active">Home</a>
			<a href="/admin_change_details">Manage</a>
			<a href="/admin_profile">Profile</a>
		</nav> -->

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Hello, <%=user%></a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			  </button>
	
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item ">
						<a class="nav-link" href="/admin_home">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/admin_change_details">Manage</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin_change_password">Change Password</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="logout">Sign Out</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- <h1>Hello <%=user%></h1> -->
		<!-- <form method="post">
			<p>Year of admission: <input type="number" name="year" required="true" /></p>
			<p><input type="submit" name="submit" value="submit"></p>
		</form> -->
		<!-- <form method="POST">
		<div class="form-group c1">
			<div class="input-group-prepend mb-3">
				<span class="input-group-text text-dark" id=" inputGroup-sizing-default">Please enter year of admission: </span>
			</div>
			<input type="number" name="year" required="true" class="form-control mb-3" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
			<button type="submit" class="btn btn-primary">submit</button>
		</div>
		</form> -->
		<div class="container-fluid">
		<form method="post">
			<div class="form-group s1">
				<div class="input-group-prepend mb-3">
					<span class="input-group-text text-dark" id=" inputGroup-sizing-default">Please enter year of admission: </span>
				</div>
				<input type="number" name="year" required="true" class="form-control mb-3" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				<button type="submit" class="btn btn-primary">submit</button>
			</div>
		</form>

		<% if(typeof students!='undefined'){%>
			<h4 id="yeartop">Year of admission: <%=year%></h4>
			<div class="input-group mb-3 s2">
				<div class="input-group-prepend">
					<span class="input-group-text text-dark" id=" inputGroup-sizing-default">Search: </span>
				</div><input type="text" name="search" class="form-control text-dark bg-light" aria-label="Sizing example input" id="search" aria-describedby="inputGroup-sizing-default" onkeyup="searchName()" placeholder="Search for name or roll number">
			</div>

			<!-- <form method='post'><p>Search: <input type="text" name="search" id='search' onkeyup="searchName()" placeholder="Search for name or rollno" /></p></form>	 -->
			<div class="table-responsive">
			<table class="table table-dark">
				<thead>
				<tr>
					<th>Select All<form method="post"><span><input type="checkbox" name="a" id="remove_all" style="opacity: 1; pointer-events: visible;" onclick='select_all()'></span></form></th>
					<th scope="col">Name</th>
					<th scope="col">Roll No</th>
					<th scope="col">Hostel Name</th>
					<th scope="col">Room No</th>
					<th scope="col">Branch Name</th>
					<th scope="col">Email ID</th>
					<th scope="col">Phone No</th>
					<th scope="col">Total Attendance</th>
					<th scope="col">Update details</th>
					<th scope="col">Remove Student</th>
				</tr>
			</thead>
			<tbody>
				<% var keys = Object.keys(students)%>
				<% var count = 0;%>
				<p style="display: none;" id="year"><%=year%></p>
				
				<% keys.forEach(function(key){ %>
				<tr class="student_details">
					<form method="post"><td><p><input type="checkbox" style="opacity: 1; pointer-events: visible;" class="checkbox1" onclick="check_checkbox()" name="<%=key%>"></p></td></form>
					<%count = count+1;%>
					<td class="studentName"><%=(students[key].Name)%></td>
					<td class="studentRno"><%=(key)%></td>
					<td><%=(students[key].HostelName)%></td>
					<td><%=(students[key].RoomNo)%></td>
					<td><%=(students[key].BranchName)%></td>
					<td><%=(students[key].EmailID)%></td>
					<td><%=(students[key].PhoneNo)%></td>
					<td><%=(students[key].TotalAttendance)+'/'+total_days%></td>
					<% var link1 = '/admin_change/?id='+key+'&year='+year%>
					<td><a href="<%=link1%>"><button type="button" class="btn btn-info">Update</button></a></td>
					<% var link = '/admin_remove/?id='+key+'&year='+year%>
					<td><a href="<%=link%>"><button type="button" class="btn btn-info">Remove</button></a></td>
				</tr>
					<%});%>
				</tbody>
			</table>
		</div><br/>
			<p id="count" style="display: none;"><%=count%></p>
			<%if(typeof abc!='undefined'){%>
			<form method="post"><p style="display: none;"><input type="text" id='data' name="data" value=''></p></form>
			<%}%>
			
		
		<%}%>
		<%if(typeof error!='undefined'){%>
			<p style="color: red;"><%=error%></p>
		<%}%>

		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title">Add Students</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
				  <p>
					<a href="/admin_add_excel_file"><button type="button" class="btn btn-info">Upload Excel File</button></a>
					<a href="/admin_add"><button type="button" class="btn btn-info">Type Details Manually</button></a>
				  </p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			  </div>
			</div>
		  </div>

		<a id="link12" href="" style="display: none;"><button type="button" class="btn btn-info link12">Remove Selected Students</button></a>
		<br/>
		<a data-target="#exampleModal" data-toggle="modal" href="#examplemodal"><button type="button" class="btn btn-info">Add Students</button></a>
	</div>
	</body>
</html>
