<!DOCTYPE html>
<html>
	<head>
		<title> My First Express App</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	</head>
	<body>
		<nav>
			<a href="/admin_home" class="active">Home</a>
			<a href="/admin_change_details">Manage</a>
			<a href="/admin_profile">Profile</a>
		</nav>
		<h1> Hello <%=user%></h1>

		<% var keys = Object.keys(students)%>
			<% keys.forEach(function(key){ %>
			<% if((key)==id){%>
			<p>Name: <%= students[key].Name%></p>
			<p>Roll No: <%= key%></p>
			<p>Hostel Name: <%= students[key].HostelName%>
			<p>Room No: <%= students[key].RoomNo%>
			<p>Branch Name: <%= students[key].BranchName%>
			<p>Email ID: <%= students[key].EmailID%>
			<p>Phone No: <%= students[key].PhoneNo%>
			<p>Year of admission: <%= year%></p>
			
			<% }});%>
			<% var link = '/remove/?id='+id+'&year='+year%>
			<a href="<%=link%>"><button >Remove this student</button></a><br/>
	</body>
</html>
