<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
<!-- 
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		
		<link rel="stylesheet" href="/css/admin_home.css" type="text/css">

  		<script type="text/javascript">
			function searchName(){
				var mess = document.getElementById('search').value;
				mess = mess.toLowerCase();
				if(mess!=''){
					var i=0;
					while(document.getElementsByClassName('studentName')[i]){
						if(document.getElementsByClassName('studentName')[i].innerHTML.toLowerCase().indexOf(mess)!=-1 || String(document.getElementsByClassName('studentRno')[i].innerHTML).toLowerCase().indexOf(mess)!=-1){
							document.getElementsByClassName('student_details')[i].style.display = '';
							// document.getElementsByClassName('student_details')[i].removeAttribute('style');
						}
						else{
							document.getElementsByClassName('student_details')[i].style.display = 'none';
						}
						i=i+1;
					}
				}
				else{
					var i=0;
					while(document.getElementsByClassName('studentName')[i]){
						document.getElementsByClassName('student_details')[i].style.display = '';
						// document.getElementsByClassName('student_details')[i].removeAttribute('style');
						i=i+1;
					}
				}
			}
		</script>

	</head>
	<body>
		<!-- <nav>
			<a href="/admin_home" class="active">Home</a>
			<a href="/admin_change_details">Manage</a>
			<a href="/admin_profile">Profile</a>
		</nav> -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: sticky;top: 0px;">
			<a class="navbar-brand" href="#">Hello, <%=user%></a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			  </button>
	
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/admin_home">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin_change_details">Manage</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin_change_password">Change Password</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Sign Out</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid">
		<%if(0){ %>
		<p>Please <a href='/admin_login'>login</a></p>
		<%}else{ %> 
		<div class="container">
		<form method="post">
			<!-- <p>Date: <input type="date" name="date" required="true" /></p> -->
			<div class="form-group">
			<span>Date:</span>
			<input type="date" class="form-control" required="true"  name="date" id="exampleInputEmail1" aria-describedby="emailHelp">
			</div>
			<div class="form-group">
			<p>Choose hostel:
			  	<select class="form-control" id="hostel" name="hostel" style="display: block;">
			  		<option value="" disabled selected hidden>--Choose Hostel--</option>
			    	<option value="jcb">JCB</option>
			    	<option value="vsb">VSB</option>
			    	<option value="apj">APJ</option>
			  	</select>
			</p>
			</div>
			
			<button type="submit" name="submit" class="btn btn-info">Submit</button>
		</form>
		</div>
		<% if(typeof error != "undefined"){ %>
		<div class="alert alert-danger" role="alert">
			<%= error%>
		  </div>
		<%}else if(typeof students != "undefined"){%>
			<% var i=1%>
		<div style="position: sticky;top: 56px; background-color: #e7e7e7;">
			<h3 id="red">List of Absentees</h3>
			<h4 style="text-align: center;">Date: <%=date%></h4>
			<h4 style="text-align: center;">Hostel: <%=hostel%></h4>
		</div>
		<form method='post' style="position: sticky;top: 170px; background-color: #e7e7e7;"><p> <span class="ss input-group-text text-dark">Search:</span> <input type="text" name="search" id='search' onkeyup="searchName()" placeholder="Search for name or rollno" /></p></form>	
			<div class="table-responsive">
				<%var j=1;%>
		<table class="table table-dark">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Rno</th>
				<th scope="col">Hostel Name</th>
				<th scope="col">Room No</th>
				<th scope="col">Branch Name</th>
				<th scope="col">Email ID</th>
				<th scope="col">Phone No</th>
				<th scope="col">Total Attendance</th>
			</tr>
			</thead>
			<% var keys = Object.keys(students)%>
			<% keys.forEach(function(key){ %>
			<tbody>
			<tr class="student_details">
				<td><%=j%></td>
				<% j=j+1;%>
				<td class="studentName"><%= students[key].Name%> </td>
				<td class="studentRno"><%=key%> </td>
				<td><%=(students[key].HostelName)%></td>
				<td><%=(students[key].RoomNo)%></td>
				<td><%=(students[key].BranchName)%></td>
				<td><%=(students[key].EmailID)%></td>
				<td><%=(students[key].PhoneNo)%></td>
				<td><%=(students[key].TotalAttendance)+'/'+total_days%></td>
			</tr>
		</tbody>
			<%i=i+1});%>
		</table>
	</div>
	<br />
		<%}else{%>
		<div class="alert alert-primary" role="alert">
			Please select date, and year of admission
		  </div>
		<%}%>
			
			
	
			<%} %>
	</div>
	</body>
</html>
