<!DOCTYPE html>
<html>
	<head>
		<title> Mark Attendance</title>

  		<link rel="stylesheet" type="text/css" href="/css/mark_attendance.css">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">


  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  		<script type="text/javascript">
  			function store_data(){
				var d = new Date();
				var date = d.getDate();
				var i = date%8;
				window.localStorage.setItem("check",i);
			}
			function check_if_allowed(){
				var d = new Date();
				var date = d.getDate();
				var i = date%8;
				var check = localStorage.getItem("check");
				if(i==check)
					return 0;
				else
					return 1;
			}
			function both(){
				if(check_if_allowed()){
					store_data();
					var link = document.getElementById('link').innerHTML;
					window.location.replace(link);
				}
				else{
					window.alert('You cant mark attendance more than once a day');
				}
			}
  		</script>
  		
	</head>
	<body>
		<nav class="navbar navbar-light bg-dark" >
			<span class="navbar-brand mb-0 h1 text-light" >Mark Your attendance here</span>
		</nav>
		<div class="container">
			<br/>
			<% var keys = Object.keys(students)%>
				<% keys.forEach(function(key){ %>
				<% if((key)==id){%>
				<p>Name: <%= students[key].Name%></p>
				<p>Roll No: <%= students[key].Rno%></p>
				<p>Hostel Name: <%= students[key].HostelName%></p>
				<p>Room No: <%= students[key].RoomNo%></p>
				<p>Email ID: <%= students[key].EmailID%></p>
				<p>Phone No: <%= students[key].PhoneNo%></p>
				<p>Branch Name: <%= students[key].BranchName%></p>
				<p>Total Attendance: <%= students[key].TotalAttendance+'/'+total_days%></p>
				
				<% }});%>
				<% var link = '/update/?id='+id%>
				<button onclick='both()' class="btn btn-primary d-inline">Mark attendance</button>
				
				<a href='/home_student'><button type="submit" class="btn btn-primary mx-2">Back to home</button></a>

				<p id='link' style="display: none;"><%=link%></p>
		</div>
	</body>
</html>
